<div class="dish-card">
    <h2>{{name}}</h2>
    <img src="{{imageURL}}" alt="{{name}}">
    <p>Калории: {{calories}}</p>
    <p>{{description}}</p>
    <p>Тип блюда: {{mealType}}</p>
    <h3>Ингредиенты:</h3>
    <ul>
        {{#each ingredientsList}}
            <li>{{this.name}}</li> 
        {{/each}}
    </ul>
    <p>Рецепт: {{recipe}}</p>
</div>